<!-- Afficher la liste des enseignants recup du back-->


<h1>
  {{title}}
</h1>
<h1>
{{s}}

</h1>

<ul>
  <li>{{numero}}</li>
  <li>{{tel}}</li>
  <li>{{afficherLaListe}}</li>
</ul>

<div class="container">
  <label>{{nom}} {{prenom}}</label>
  <img src="{{photo}}"/>
  <ul *ngIf="afficherLaListe">
    <li>NUM: {{numero}}</li>
    <li>Date de naissance: {{dateNaissance}}</li>
    <li>Date d'embauche: {{dateEmbauche}}</li>
    <li>Grade: {{grade}}</li>
    <li>Sexe: {{sexe}}</li>
  </ul>
</div>
<div class="container">
    <label>{{enseignant.nom}} {{enseignant.prenom}}</label>
    <img src="{{enseignant.photo}}"/>
    <ul *ngIf="afficherLaListe">
      <li>NUM: {{enseignant.numero}}</li>
      <li>Date de naissance: {{enseignant.dateNaissance}}</li>
      <li>Date d'embauche: {{enseignant.dateEmbauche}}</li>
      <li>Grade: {{enseignant.grade}}</li>
      <li>Sexe: {{enseignant.sexe}}</li>
    </ul>
  </div>

  <br/>
  <div class="container" *ngFor="let en of enseignants">
      <label>{{en.nom}} {{en.prenom}}</label>
      <img src="{{en.photo}}"/>
      <ul *ngIf="afficherLaListe">
        <li>NUM: {{en.numero}}</li>
        <li>Date de naissance: {{en.dateNaissance}}</li>
        <li>Date d'embauche: {{en.dateEmbauche}}</li>
        <li>Grade: {{en.grade}}</li>
        <li>Sexe: {{en.sexe}}</li>
      </ul>
    </div>